{% extends 'architecture.html.twig' %}

{% block subcontent %}
<h3>Prix de l'architecture pour une école</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Matériel</th>
            <th>Prix unitaire</th>
            <th>Unité</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr class="warning">
            <td colspan="4"><div class="section-title">Câbles</div></td>
        </tr>

        {# https://www.blackbox.fr/fr-fr/fi/1236/12773/Cable-CAT6a-F-UTP-650-MHz-en-bobine/ #}
        <tr>
            <td>Câble CAT6a F/UTP 650 MHz <span class="label label-important">couleur rouge</span></td>
            <td>1,046 &euro; / m</td>
            <td>9 865 m</td>
            <td>{{ calc_add('c', 10325) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1236/12773/Cable-CAT6a-F-UTP-650-MHz-en-bobine/ #}
        <tr>
            <td>Câble CAT6a F/UTP 650 MHz <span class="label label-success">couleur vert</span></td>
            <td>1,046 &euro; / m</td>
            <td>8 842 m</td>
            <td>{{ calc_add('c', 9254) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1236/12773/Cable-CAT6a-F-UTP-650-MHz-en-bobine/ #}
        <tr>
            <td>Câble CAT6a F/UTP 650 MHz <span class="label label-warning">couleur jaune</span></td>
            <td>1,046 &euro; / m</td>
            <td>7 788 m</td>
            <td>{{ calc_add('c', 8151) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1236/12773/Cable-CAT6a-F-UTP-650-MHz-en-bobine/ #}
        <tr>
            <td>Câble CAT6a F/UTP 650 MHz <span class="label label-info">couleur bleu</span></td>
            <td>1,046 &euro; / m</td>
            <td>4 512 m</td>
            <td>{{ calc_add('c', 4723) }}</td>
        </tr>
        <tr>
            <td><a href="{{ path('archi_salle') }}#prix">Câblage d'une salle standard</a></td>
            <td>758,75 &euro;</td>
            <td>42</td>
            <td>{{ calc_add('c', 31867.5) }}</td>
        </tr>
        {# http://www.blackbox.fr/fr-fr/fi/1256/11391/Cable-fibre-50-m-OM3-sous-tube/ #}
        <tr>
            <td>Câble fibre 50 &#181;m OM3 sous tube</td>
            <td>1,23 &euro; / m</td>
            <td>218 m</td>
            <td>{{ calc_add('c', 268.14) }}</td>
        </tr>
        <tr>
            <td>Chemins de câbles à bords roulés - Série BS (72x268)</td>
            <td>32,25 &euro; / m</td>
            <td>576 m</td>
            <td>{{ calc_add('c', 18576) }}</td>
        </tr>

        <tr class="success">
            <td><strong>Sous-total</strong</td>
            <td></td>
            <td></td>
            <td><span class="subprice">{{ calc_get('c') }}</span></td>
        </tr>

        <tr id="repartiteur-1" class="warning">
            <td colspan="4"><div class="section-title">Local technique secondaire #1 <span class="label label-important">couleur rouge</span></div></td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1270/13097/Tiroir-de-brassage-fibre-coulissant/ #}
        <tr>
            <td>Tiroir de brassage fibre coulissant 24 ports</td>
            <td>129 &euro;</td>
            <td>1</td>
            <td>{{ calc_add('r1', 129) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1263/11271/Jarretiere-fibre-10G-OM3(LSZH)LC-LC/ #}
        <tr>
            <td>Jarretière fibre 10G OM3 3m (LSZH) LC-LC</td>
            <td>28 &euro;</td>
            <td>1</td>
            <td>{{ calc_add('r1', 28) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1246/12263/Platine-de-brassage-CAT6a-FTP/ #}
        <tr>
            <td>Platine de brassage CAT6a FTP 24 ports (JPM10GF24)</td>
            <td>85 &euro;</td>
            <td>14</td>
            <td>{{ calc_add('r1', 1190) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1241/12374/Cordon-de-brassage-PCI-6/ #}
        <tr>
            <td>Cordon de brassage PCI-6 U/FTP 2,1m</td>
            <td>11 &euro;</td>
            <td>300</td>
            <td>{{ calc_add('r1', 3300) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1365/12590/Armoire-Elite-42U,L600xP1000/ #}
        <tr>
            <td>Armoire Elite 42U, L600xP1000</td>
            <td>1 105 &euro;</td>
            <td>2</td>
            <td>{{ calc_add('r1', 2210) }}</td>
        </tr>

        <tr><td class="table-separator" colspan="4"></td></tr>

        {# http://www.bechtle.fr/shop/BD_FR/product/detail?wt_lp=landingpage.a&SSID=BD_FR&link=616039&LANG=fr #}
        <tr>
            <td>Switch Cisco Catalyst 48 ports stackable (2960S-48TS-L)</td>
            <td>2 011 &euro;</td>
            <td>7</td>
            <td>{{ calc_add('r1', 14077) }}</td>
        </tr>
        {# http://www.bechtle.fr/shop/BD_FR/Module+FlexStack+CISCO+Catalyst+2960S_616598-05?pixelSource=&currencyIsoCode=EUR #}
        <tr>
            <td>Module FlexStack CISCO Catalyst 2960S</td>
            <td>572 &euro;</td>
            <td>6</td>
            <td>{{ calc_add('r1', 3432) }}</td>
        </tr>
        {# http://www.bechtle.fr/shop/BD_FR/CISCO+SFP+GLC-SX-MMD%3D_712589-05?pixelSource=&currencyIsoCode=EUR #}
        <tr>
            <td>Convertisseur Gigabit Mini-GBIC SFP GLC-SX-MMD=</td>
            <td>269 &euro;</td>
            <td>1</td>
            <td>{{ calc_add('r1', 269) }}</td>
        </tr>

        <tr class="success">
            <td><strong>Sous-total</strong</td>
            <td></td>
            <td></td>
            <td><span class="subprice">{{ calc_get('r1') }}</span></td>
        </tr>

        <tr id="repartiteur-2" class="warning">
            <td colspan="4"><div class="section-title">Local technique secondaire #2 <span class="label label-success">couleur vert</span></div></td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1270/13097/Tiroir-de-brassage-fibre-coulissant/ #}
        <tr>
            <td>Tiroir de brassage fibre coulissant 24 ports</td>
            <td>129 &euro;</td>
            <td>1</td>
            <td>{{ calc_add('r2', 129) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1263/11271/Jarretiere-fibre-10G-OM3(LSZH)LC-LC/ #}
        <tr>
            <td>Jarretière fibre 10G OM3 3m (LSZH) LC-LC</td>
            <td>28 &euro;</td>
            <td>1</td>
            <td>{{ calc_add('r2', 28) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1246/12263/Platine-de-brassage-CAT6a-FTP/ #}
        <tr>
            <td>Platine de brassage CAT6a FTP 24 ports (JPM10GF24)</td>
            <td>85 &euro;</td>
            <td>14</td>
            <td>{{ calc_add('r2', 1190) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1241/12374/Cordon-de-brassage-PCI-6/ #}
        <tr>
            <td>Cordon de brassage PCI-6 U/FTP 2,1m</td>
            <td>11 &euro;</td>
            <td>300</td>
            <td>{{ calc_add('r2', 3300) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1365/12590/Armoire-Elite-42U,L600xP1000/ #}
        <tr>
            <td>Armoire Elite 42U, L600xP1000</td>
            <td>1 105 &euro;</td>
            <td>2</td>
            <td>{{ calc_add('r2', 2210) }}</td>
        </tr>

        <tr><td class="table-separator" colspan="4"></td></tr>

        {# http://www.bechtle.fr/shop/BD_FR/product/detail?wt_lp=landingpage.a&SSID=BD_FR&link=616039&LANG=fr #}
        <tr>
            <td>Switch Cisco Catalyst 48 ports stackable (2960S-48TS-L)</td>
            <td>2 011 &euro;</td>
            <td>7</td>
            <td>{{ calc_add('r2', 14077) }}</td>
        </tr>
        {# http://www.bechtle.fr/shop/BD_FR/Module+FlexStack+CISCO+Catalyst+2960S_616598-05?pixelSource=&currencyIsoCode=EUR #}
        <tr>
            <td>Module FlexStack CISCO Catalyst 2960S</td>
            <td>572 &euro;</td>
            <td>6</td>
            <td>{{ calc_add('r2', 3432) }}</td>
        </tr>
        {# http://www.bechtle.fr/shop/BD_FR/CISCO+SFP+GLC-SX-MMD%3D_712589-05?pixelSource=&currencyIsoCode=EUR #}
        <tr>
            <td>Convertisseur Gigabit Mini-GBIC SFP GLC-SX-MMD=</td>
            <td>269 &euro;</td>
            <td>1</td>
            <td>{{ calc_add('r2', 269) }}</td>
        </tr>

        <tr class="success">
            <td><strong>Sous-total</strong</td>
            <td></td>
            <td></td>
            <td><span class="subprice">{{ calc_get('r2') }}</span></td>
        </tr>

        <tr id="repartiteur-3" class="warning">
            <td colspan="4"><div class="section-title">Local technique secondaire #3 <span class="label label-warning">couleur jaune</span></div></td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1270/13097/Tiroir-de-brassage-fibre-coulissant/ #}
        <tr>
            <td>Tiroir de brassage fibre coulissant 24 ports</td>
            <td>129 &euro;</td>
            <td>1</td>
            <td>{{ calc_add('r3', 129) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1263/11271/Jarretiere-fibre-10G-OM3(LSZH)LC-LC/ #}
        <tr>
            <td>Jarretière fibre 10G OM3 3m (LSZH) LC-LC</td>
            <td>28 &euro;</td>
            <td>1</td>
            <td>{{ calc_add('r3', 28) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1246/12263/Platine-de-brassage-CAT6a-FTP/ #}
        <tr>
            <td>Platine de brassage CAT6a FTP 24 ports (JPM10GF24)</td>
            <td>85 &euro;</td>
            <td>16</td>
            <td>{{ calc_add('r3', 1360) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1241/12374/Cordon-de-brassage-PCI-6/ #}
        <tr>
            <td>Cordon de brassage PCI-6 U/FTP 2,1m</td>
            <td>11 &euro;</td>
            <td>350</td>
            <td>{{ calc_add('r3', 3850) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1365/12590/Armoire-Elite-42U,L600xP1000/ #}
        <tr>
            <td>Armoire Elite 42U, L600xP1000</td>
            <td>1 105 &euro;</td>
            <td>2</td>
            <td>{{ calc_add('r3', 2210) }}</td>
        </tr>

        <tr><td class="table-separator" colspan="4"></td></tr>

        {# http://www.bechtle.fr/shop/BD_FR/product/detail?wt_lp=landingpage.a&SSID=BD_FR&link=616039&LANG=fr #}
        <tr>
            <td>Switch Cisco Catalyst 48 ports stackable (2960S-48TS-L)</td>
            <td>2 011 &euro;</td>
            <td>8</td>
            <td>{{ calc_add('r3', 16088) }}</td>
        </tr>
        {# http://www.bechtle.fr/shop/BD_FR/Module+FlexStack+CISCO+Catalyst+2960S_616598-05?pixelSource=&currencyIsoCode=EUR #}
        <tr>
            <td>Module FlexStack CISCO Catalyst 2960S</td>
            <td>572 &euro;</td>
            <td>7</td>
            <td>{{ calc_add('r3', 4004) }}</td>
        </tr>
        {# http://www.bechtle.fr/shop/BD_FR/CISCO+SFP+GLC-SX-MMD%3D_712589-05?pixelSource=&currencyIsoCode=EUR #}
        <tr>
            <td>Convertisseur Gigabit Mini-GBIC SFP GLC-SX-MMD=</td>
            <td>269 &euro;</td>
            <td>1</td>
            <td>{{ calc_add('r3', 269) }}</td>
        </tr>

        <tr class="success">
            <td><strong>Sous-total</strong</td>
            <td></td>
            <td></td>
            <td><span class="subprice">{{ calc_get('r3') }}</span></td>
        </tr>

        <tr id="repartiteur-4" class="warning">
            <td colspan="4"><div class="section-title">Local technique principal <span class="label label-info">couleur bleu</span></div></td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1270/13097/Tiroir-de-brassage-fibre-coulissant/ #}
        <tr>
            <td>Tiroir de brassage fibre coulissant 24 ports</td>
            <td>129 &euro;</td>
            <td>1</td>
            <td>{{ calc_add('r4', 129) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1263/11271/Jarretiere-fibre-10G-OM3(LSZH)LC-LC/ #}
        <tr>
            <td>Jarretière fibre 10G OM3 3m (LSZH) LC-LC</td>
            <td>28 &euro;</td>
            <td>5</td>
            <td>{{ calc_add('r4', 140) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1246/12263/Platine-de-brassage-CAT6a-FTP/ #}
        <tr>
            <td>Platine de brassage CAT6a FTP 24 ports (JPM10GF24)</td>
            <td>85 &euro;</td>
            <td>9</td>
            <td>{{ calc_add('r4', 765) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1241/12374/Cordon-de-brassage-PCI-6/ #}
        <tr>
            <td>Cordon de brassage PCI-6 U/FTP 2,1m</td>
            <td>11 &euro;</td>
            <td>160</td>
            <td>{{ calc_add('r4', 1760) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1365/12590/Armoire-Elite-42U,L600xP1000/ #}
        <tr>
            <td>Armoire Elite 42U, L600xP1000</td>
            <td>1 105 &euro;</td>
            <td>2</td>
            <td>{{ calc_add('r4', 2210) }}</td>
        </tr>

        <tr><td class="table-separator" colspan="4"></td></tr>

        {# http://www.bechtle.fr/shop/BD_FR/AEG+PROTECT+B.PRO+1000+USV+nouveau_788562?pixelSource= #}
        <tr>
            <td>Onduleur AEG PROTECT B.PRO 1000 USV</td>
            <td>337 &euro;</td>
            <td>1</td>
            <td>{{ calc_add('r4', 337) }}</td>
        </tr>

        {# http://www.bechtle.fr/shop/BD_FR/product/detail?wt_lp=landingpage.a&SSID=BD_FR&link=616039&LANG=fr #}
        <tr>
            <td>Switch Cisco Catalyst 48 ports stackable (2960S-48TS-L)</td>
            <td>2 011 &euro;</td>
            <td>4</td>
            <td>{{ calc_add('r4', 8044) }}</td>
        </tr>
        {# http://www.bechtle.fr/shop/BD_FR/Switch+CISCO+Catalyst+2960S-24PS-L_616067?pixelSource= #}
        <tr>
            <td>Switch Cisco Catalyst PoE 24 ports stackable (2960S-24PS-L)</td>
            <td>1 503 &euro;</td>
            <td>1</td>
            <td>{{ calc_add('r4', 1503) }}</td>
        </tr>
        {# http://www.bechtle.fr/shop/BD_FR/Swiitch+Cisco+Catalyst+3750G-12S-S_150554?pixelSource= #}
        <tr>
            <td>Switch Cisco Catalyst 12 ports SFP (3750G-12S-S)</td>
            <td>4 045 &euro;</td>
            <td>1</td>
            <td>{{ calc_add('r4', 4045) }}</td>
        </tr>
        {# http://www.bechtle.fr/shop/BD_FR/Module+FlexStack+CISCO+Catalyst+2960S_616598-05?pixelSource=&currencyIsoCode=EUR #}
        <tr>
            <td>Module FlexStack CISCO Catalyst 2960S</td>
            <td>572 &euro;</td>
            <td>5</td>
            <td>{{ calc_add('r4', 2860) }}</td>
        </tr>
        {# http://www.bechtle.fr/shop/BD_FR/CISCO+SFP+GLC-SX-MMD%3D_712589-05?pixelSource=&currencyIsoCode=EUR #}
        <tr>
            <td>Convertisseur Gigabit Mini-GBIC SFP GLC-SX-MMD=</td>
            <td>269 &euro;</td>
            <td>5</td>
            <td>{{ calc_add('r4', 1345) }}</td>
        </tr>
        {# http://www.ldlc-pro.com/fiche/PB00141125.html #}
        <tr>
            <td>Gigabit Ethernet 1000 Base-T Mini-GBIC RJ45 SFP Transceiver</td>
            <td>102 &euro;</td>
            <td>1</td>
            <td>{{ calc_add('r4', 102) }}</td>
        </tr>

        <tr class="success">
            <td><strong>Sous-total</strong</td>
            <td></td>
            <td></td>
            <td><span class="subprice">{{ calc_get('r4') }}</span></td>
        </tr>

        <tr class="warning">
            <td colspan="4"><div class="section-title">Equipements pour les élèves et professeurs (317 personnes)</div></td>
        </tr>

        {# https://www.igel.com/fr/produits/materiel-client-leger/serie-ud2.html #}
        <tr>
            <td>Client léger - IGEL UD2 Universal Desktop Thin Client</td>
            <td>188 &euro;</td>
            <td>317</td>
            <td>{{ calc_add('ep', 118 * 317) }}</td>
        </tr>
        {# hhttp://www.rueducommerce.fr/Peripheriques-Reseaux-wifi/Ecran/Moniteur-PC/LG/4879664-Moniteur-LED-19-VGA-19EN33S.htm #}
        <tr>
            <td>LG  Moniteur LED 19" VGA - 19EN33S</td>
            <td>89,99 &euro;</td>
            <td>317</td>
            <td>{{ calc_add('ep', 89.99 * 317) }}</td>
        </tr>
        {# http://www.ldlc-pro.com/fiche/PB00117562.html #}
        <tr>
            <td>Clavier et souris - Microsoft Harware for Business Wired Desktop 400</td>
            <td>11,62 &euro;</td>
            <td>317</td>
            <td>{{ calc_add('ep', 11.62 * 317) }}</td>
        </tr>
        {# https://www.blackbox.fr/fr-fr/fi/1236/12773/Cable-CAT6a-F-UTP-650-MHz-en-bobine/ #}
        <tr>
            <td>Cordon CAT6 F/UTP LSZH - 2m</td>
            <td>4,81 &euro;</td>
            <td>317</td>
            <td>{{ calc_add('ep', 4.81 * 317) }}</td>
        </tr>

        <tr class="success">
            <td><strong>Sous-total</strong</td>
            <td></td>
            <td></td>
            <td><span class="subprice">{{ calc_get('ep') }}</span></td>
        </tr>

        <tr class="warning">
            <td colspan="4"><div class="section-title">Equipements pour l'administration (8 personnes)</div></td>
        </tr>

        {# http://www.dell.com/fr/entreprise/p/vostro-270/pd?oc=sbd2745&model_id=vostro-270 #}
        <tr>
            <td>PC Dell Vostro 270 MT</td>
            <td>379 &euro;</td>
            <td>8</td>
            <td>{{ calc_add('ea', 379 * 8) }}</td>
        </tr>
        {# http://accessories.euro.dell.com/sna/products/Ecrans/productdetail.aspx?c=fr&l=fr&s=bsd&cs=frbsdt1&sku=620577 #}
        <tr>
            <td>Ecran large Dell IN2030M de 51cm (20" - 1600x900) </td>
            <td>107,86 &euro;</td>
            <td>8</td>
            <td>{{ calc_add('ea', 107.86 * 8) }}</td>
        </tr>
        {# http://www.bechtle.fr/shop/BD_FR/T%C3%A9l.+IP+Cisco+SB+SPA502G+1+ligne+PoE_590103?pixelSource= #}
        <tr>
            <td>Téléphone IP Cisco SB SPA502G 1 ligne PoE</td>
            <td>81,5 &euro;</td>
            <td>8</td>
            <td>{{ calc_add('ea', 81.5 * 8) }}</td>
        </tr>
        <tr>
            <td>xerox Phaser 5550DN A3</td>
            <td>2 595 &euro;</td>
            <td>1</td>
            <td>{{ calc_add('ea', 2595) }}</td>
        </tr>

        <tr class="success">
            <td><strong>Sous-total</strong</td>
            <td></td>
            <td></td>
            <td><span class="subprice">{{ calc_get('ea') }}</span></td>
        </tr>

        <tr class="warning">
            <td><strong>Total</strong></td>
            <td></td>
            <td></td>
            <td><span class="price">{{ calc_sum('subtotal', ['c','r1','r2','r3','r4','ep','ea']) }}</span></td>
        </tr>
    </tbody>
</table>

<h3>Prix de l'architecture total</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th width="550px">Matériel</th>
            <th>Prix unitaire</th>
            <th>Unité</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Architecture d'une école</td>
            <td>{{ calc_get('subtotal') }}</td>
            <td>11</td>
            <td>{{ calc_add('total', 11 * calc_get_raw('subtotal')) }}</td>
        </tr>
        <tr class="warning">
            <td><strong>Total</strong></td>
            <td></td>
            <td></td>
            <td><span class="price">{{ calc_get('total') }}</span></td>
        </tr>
    </tbody>
</table>

{% endblock %}
